{% extends "base.html" %}
{% block content %}


<div class="text-center">
    <h1 class="display-5"> Top 5 AI-powered search engines as of 2025</h1>
    <p class="lead"></p>
</div>

<div class="row g-4 mt-4">
    <div class="col-md-6 col-lg-3">
        <a href="https://www.perplexity.ai/" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>1. Perplexity AI</h5>
                <p></p>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="https://gemini.google.com/" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>2.Gemini</h5>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="https://chatgpt.com/" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>3.🤖 chatgpt</h5>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="https://you.com/" class="text-decoration-none text-center">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>4. You.com</h5>
            </div>
        </a>
    </div>

</div> 


{% endblock %}
