{% extends "base.html" %}
{% block content %}
<div class="text-center">
    <h1 class="display-5">👨‍💻 Code Editors Tools</h1>
    <p class="lead">Your one-stop portal for coding, learning, and career growth</p>
</div>


<h1>  1. Basic Text Editors</h1>
<ul class="list-group mt-3">
    <a href="https://code.visualstudio.com/" target="_blank" class="list-group-item list-group-item-action"> 💻🧩Visual Studio Code (VS Code)</a>
    <a href="https://www.sublimetext.com/" target="_blank" class="list-group-item list-group-item-action">🌐Sublime Text</a>
    <a href="https://notepad-plus-plus.org/" target="_blank" class="list-group-item list-group-item-action">👨‍💻🟩📝 Notepad++</a>
    
</ul>
<ul class="my-3"></ul>
<h1>  2.Lightweight Code Editors</h1>
<ul class="list-group mt-3">
    <a href="https://code.visualstudio.com/" target="_blank" class="list-group-item list-group-item-action"> 💻🧩Visual Studio Code (VS Code)</a>
    <a href="https://www.sublimetext.com/" target="_blank" class="list-group-item list-group-item-action">🌐Sublime Text</a>
    <a href="https://notepad-plus-plus.org/" target="_blank" class="list-group-item list-group-item-action">👨‍💻🟩📝 Notepad++</a>
    
</ul>
 
<ul class="my-3"></ul>
<h1>  3. Integrated Development Environments (IDEs)</h1>
<ul class="list-group mt-3">
    <a href="https://code.visualstudio.com/" target="_blank" class="list-group-item list-group-item-action"> 💻🧩Visual Studio Code (VS Code)</a>
    <a href="https://www.jetbrains.com/pycharm/" target="_blank" class="list-group-item list-group-item-action">🌐PyCharm</a>
    <a href="https://www.eclipse.org/" target="_blank" class="list-group-item list-group-item-action">👨‍💻 Eclipse</a>
    <a href="https://www.eclipse.org/" target="_blank" class="list-group-item list-group-item-action">👨‍💻 IntelliJ IDEA</a>
    <a href="https://netbeans.apache.org/front/main/index.html" target="_blank" class="list-group-item list-group-item-action">👨‍💻 NetBeans</a>

    
</ul>

<ul class="my-3"></ul>
<h1>  4. Online Code Editors</h1>
<ul class="list-group mt-3">
    <a href="https://codepen.io/" target="_blank" class="list-group-item list-group-item-action"> 💻🧩CodePen</a>
    <a href="" target="_blank" class="list-group-item list-group-item-action">🌐JSFiddle</a>
    <a href="https://replit.com/" target="_blank" class="list-group-item list-group-item-action">👨‍💻 Eclipse</a>
    <a href="https://www.eclipse.org/" target="_blank" class="list-group-item list-group-item-action">👨‍💻 IntelliJ IDEA</a>
    <a href="https://netbeans.apache.org/front/main/index.html" target="_blank" class="list-group-item list-group-item-action">👨‍💻 NetBeans</a>
    <a href="https://github.com/features/codespaces" target="_blank" class="list-group-item list-group-item-action">👨‍💻 GitHub Codespaces</a>

    
</ul>


<ul class="my-3"></ul>
<h1>  5. Specialized Editors</h1>
<ul class="list-group mt-3">
    <a href="https://rstudio-education.github.io/hopr/starting.html" target="_blank" class="list-group-item list-group-item-action"> 💻🧩RStudio (for R programming)</a>
    <a href="https://jupyter.org/" target="_blank" class="list-group-item list-group-item-action">🌐Jupyter Notebook (for Python, data science)</a>
    <a href="" target="_blank" class="list-group-item list-group-item-action">👨‍💻 LaTeX editors (for document preparation)</a>
   
    
</ul>
{% endblock %}


