{% extends "base.html" %}
{% block content %}
<h1>🏆 Top Coding Competitions</h1>
<ul class="list-group mt-3">
    <a href="https://leetcode.com/contest/" target="_blank" class="list-group-item list-group-item-action">LeetCode Weekly Contests</a>
    <a href="https://codeforces.com/" target="_blank" class="list-group-item list-group-item-action">Codeforces</a>
    <a href="https://www.codechef.com/contests" target="_blank" class="list-group-item list-group-item-action">CodeChef Contests</a>
    <a href="https://atcoder.jp/" target="_blank" class="list-group-item list-group-item-action">AtCoder</a>
    <a href="https://www.hackerrank.com/" target="_blank" class="list-group-item list-group-item-action">HackerRank</a>
    <a href="https://www.kaggle.com/competitions" target="_blank" class="list-group-item list-group-item-action">Kaggle (ML/Data)</a>
</ul>
{% endblock %}
