{% extends "base.html" %}
{% block content %}
<h1>🔥 DataBase</h1>
<ul class="list-group mt-3">
    <a href="https://db-engines.com/en/system/Oracle" target="_blank" class="list-group-item list-group-item-action">Oracle</a>
    <a href="https://www.mysql.com" target="_blank" class="list-group-item list-group-item-action">🌐 MySQL</a>
    <a href="https://www.microsoft.com/en-in/sql-server" target="_blank" class="list-group-item list-group-item-action">Microsoft SQL Server</a>
    <a href="https://www.postgresql.org/" target="_blank" class="list-group-item list-group-item-action">🐘  PostgreSQL</a>
    <a href="https://www.mongodb.com/" target="_blank" class="list-group-item list-group-item-action">🐹 MongoDB</a>
    <a href="https://www.sqlite.org" target="_blank" class="list-group-item list-group-item-action">🗃️🐍 ➡️ SQLite</a>
</ul>
{% endblock %}
