{% extends "base.html" %}
{% block content %}
<h1>🔥 Top In-Demand Tech Skills (2025)</h1>
<ol class="list-group list-group-numbered mt-3">
    <li class="list-group-item">Artificial Intelligence / Machine Learning</li>
    <li class="list-group-item">Data Science & Big Data</li>
    <li class="list-group-item">Cloud Computing (AWS, GCP, Azure)</li>
    <li class="list-group-item">Cybersecurity</li>
    <li class="list-group-item">Blockchain & Web3</li>
    <li class="list-group-item">DevOps / CI-CD / Automation</li>
    <li class="list-group-item">Frontend (React.js, Next.js) & Backend (Node.js, Django)</li>
    <li class="list-group-item">Mobile App Dev (Flutter, Kotlin, Swift)</li>
</ol>
{% endblock %}
