{% extends "base.html" %}
{% block content %}
<div class="text-center">
    <h1 class="display-5">👨‍💻 Django And Tailwind</h1>
    <p class="lead">Project setup and Installation</p>
</div>


<h1>  1. Django </h1>
<ul class="list-group mt-3">
    <a href="https://www.geeksforgeeks.org/" target="_blank" class="list-group-item list-group-item-action"> 💻🧩 GeeksforGeeks (Coding, DSA, QA, System Design)</a>
    <a href="https://leetcode.com/" target="_blank" class="list-group-item list-group-item-action">🌐LeetCode (Coding problems, Interview prep)</a>
    <a href="https://notepad-plus-plus.org/" target="_blank" class="list-group-item list-group-item-action">👨‍💻📝 InterviewBit (Coding + System Design)</a>
    <a href="https://www.glassdoor.co.in/Interview/index.htm" target="_blank" class="list-group-item list-group-item-action">👨‍💻💻📝 Glassdoor (	Company-specific interview questions)</a>
    <a href="https://notepad-plus-plus.org/" target="_blank" class="list-group-item list-group-item-action">👨‍💻🧩📝 CareerCup (Tech interview questions from companies)</a>
    <a href="https://notepad-plus-plus.org/" target="_blank" class="list-group-item list-group-item-action">👨‍💻🟩📝 Hackerrank Interview Prep Kit (Coding challenges, tests)</a>
    
</ul>

{% endblock %}


