{% extends "base.html" %}
{% block content %}
<div class="text-center">
    <h1 class="display-5">🎤 Events & Webinar</h1>
    <p class="lead">Top 5 Event and Webinar</p>
</div>

<div class="row g-4 mt-4">

    <div class="col-md-6 col-lg-3">
        <a href="https://www.eventbrite.com/e/india-tech-summit-tickets-97765875365" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>🧩 India Tech Summit</h5>
                <p class="small text-muted">Who Should Attend:
Tech entrepreneurs, startup founders, investors, and industry professionals.​</p>
            </div>
        </a>
    </div>





</div>
{% endblock %}
