{% extends "base.html" %}
{% block content %}


<div class="text-center">
    <h1 class="display-5">🌐 Top Web Development Frameworks</h1>
    <p class="lead"></p>
</div>

<div class="row g-4 mt-4">
    <div class="col-md-6 col-lg-3">
        <a href="https://db-engines.com/en/system/Oracle" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>Oracle</h5>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="https://www.mysql.com" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>🌐 MySQL </h5>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="https://www.microsoft.com/en-in/sql-server" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>Microsoft SQL Server</h5>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="https://www.postgresql.org/" class="text-decoration-none text-center">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>🐘  PostgreSQL</h5>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="https://www.mongodb.com/" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>🐹 MongoDB</h5>
            </div>
        </a>
    </div>


    <div class="col-md-6 col-lg-3">
        <a href="https://www.sqlite.org" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>🗃️🐍 ➡️ SQLite</h5>
            </div>
        </a>
    </div>

</div> 


{% endblock %}
