{% extends "base.html" %}
{% block content %}
<div class="text-center">
    <h1 class="display-5">👨‍💻 Welcome to DevHub</h1>
    <p class="lead">Your one-stop portal for coding, learning, and career growth</p>
</div>

<div class="row g-4 mt-4">

    <div class="col-md-6 col-lg-3">
        <a href="/languages" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>🧩 Languages</h5>
                <p class="small text-muted">Python, JS, C++, JavaScript,Go, etc.</p>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="/competitions" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>🏆 Competitions</h5>
                <p class="small text-muted">LeetCode, Codeforces, etc.</p>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="/resources" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>📚 Resources</h5>
                <p class="small text-muted">Study material, YouTube, etc.</p>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="/demand" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>🚀 In-Demand Skills</h5>
                <p class="small text-muted">Top skills for 2025</p>
            </div>
        </a>
    </div>

     <div class="col-md-6 col-lg-3">
        <a href="/jobs" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>💼  job</h5>
                <p class="small text-muted">job</p>
            </div>
        </a>
    </div>


    <div class="col-md-6 col-lg-3">
        <a href="/ai_ml" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>🤖 Artificial Intelligence / Machine Learning</h5>
                <p class="small text-muted">Artificial Intelligence / Machine Learning</p>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="/blogs" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>🚀 blogs</h5>
                <p class="small text-muted">blogs</p>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="/projects" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>📁 projects</h5>
                <p class="small text-muted">many projects</p>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="/events" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>📅 🎤  events & Webinars</h5>
                <p class="small text-muted">events</p>
            </div>
        </a>
    </div>

    <!-- <div class="col-md-6 col-lg-3">
        <a href="/faqs" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>❓ faqs</h5>
                <p class="small text-muted">faqs</p>
            </div>
        </a>
    </div> -->

    <div class="col-md-6 col-lg-3">
        <a href="/motivation" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>💡 motivation</h5>
                <p class="small text-muted">motivation</p>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="/database" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5> database</h5>
                <p class="small text-muted">database</p>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="/code_Editers_tools" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>💡 code Editors tools</h5>
                <p class="small text-muted">code_Editors_tools</p>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="/interview_Questions" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>Interview Questions</h5>
                <p class="small text-muted">interview_Questions</p>
            </div>
        </a>
    </div>



</div>
{% endblock %}
