{% extends "base.html" %}
{% block content %}

<div class="text-center">
    <h1 class="display-5">🔥 Popular Programming Languages</h1>
    <p class="lead"></p>
</div>

<div class="row g-4 mt-4">
    <div class="col-md-6 col-lg-3">
        <a href="https://www.python.org/" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>🐍 Python</h5>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="https://www.oracle.com/java/" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>☕ Java </h5>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5># C++</h5>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" class="text-decoration-none text-center">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>🟨 JavaScript</h5>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="https://kotlinlang.org/" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>Kotlin</h5>
            </div>
        </a>
    </div>


    <div class="col-md-6 col-lg-3">
        <a href="https://www.php.net/" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>PHP</h5>
            </div>
        </a>
    </div>


     <div class="col-md-6 col-lg-3">
        <a href="https://www.w3schools.com/cs/index.php" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>C#</h5>
            </div>
        </a>
    </div>


</div> 








{% endblock %}
