{% extends "base.html" %}
{% block content %}
<h1>🔥 Popular Programming Languages</h1>
<ul class="list-group mt-3">
    <a href="https://www.python.org/" target="_blank" class="list-group-item list-group-item-action">🐍 Python</a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" class="list-group-item list-group-item-action">🟨 JavaScript</a>
    <a href="https://www.oracle.com/java/" target="_blank" class="list-group-item list-group-item-action">☕ Java</a>
    <a href="https://cplusplus.com/" target="_blank" class="list-group-item list-group-item-action">💙 C++</a>
    <a href="https://go.dev/" target="_blank" class="list-group-item list-group-item-action">🐹 Go</a>
    <a href="https://www.rust-lang.org/" target="_blank" class="list-group-item list-group-item-action">🦀 Rust</a>
</ul>
{% endblock %}
