{% extends "base.html" %}
{% block content %}
<h1>📚 Study Resources</h1>
<ul class="list-group mt-3">
    <a href="https://www.geeksforgeeks.org/" target="_blank" class="list-group-item list-group-item-action">GeeksforGeeks</a>
    <a href="https://roadmap.sh/" target="_blank" class="list-group-item list-group-item-action">roadmap.sh</a>
    <a href="https://www.linkedin.com/learning/" target="_blank" class="list-group-item list-group-item-action">LinkedIn Learning</a>
    <a href="https://freecodecamp.org/" target="_blank" class="list-group-item list-group-item-action">freeCodeCamp</a>
    <a href="https://www.youtube.com/@ApnaCollegeOfficial" target="_blank" class="list-group-item list-group-item-action">Apna College (YouTube)</a>
    <a href="https://www.youtube.com/@CodeWithHarry" target="_blank" class="list-group-item list-group-item-action">CodeWithHarry (YouTube)</a>
    <a href="https://www.udemy.com/" target="_blank" class="list-group-item list-group-item-action">Udemy (Courses)</a>
</ul>
{% endblock %}
