{% extends "base.html" %}
{% block content %}
<div class="text-center">
    <h1 class="display-5">📚 Study Resources</h1>
    <p class="lead">🌐 Top 10 Study resources and youtube channels</p>
</div>

<div class="row g-4 mt-4">

    <div class="col-md-6 col-lg-3">
        <a href="https://www.geeksforgeeks.org/" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>🧩 GeeksforGeeks</h5>
                <p class="small text-muted">java, Python, JavaScript</p>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="https://www.linkedin.com/learning" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5> LinkedIn Learning</h5>
                <p class="small text-muted">best Learning everythings</p>
            </div>
        </a>
    </div>

     <div class="col-md-6 col-lg-3">
        <a href="https://freecodecamp.org/" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>🚀freeCodeCamp</h5>
                <p class="small text-muted">learning and build projects</p>
            </div>
        </a>
    </div>

     <div class="col-md-6 col-lg-3">
        <a href="https://www.udemy.com/" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>Udemy (Courses)</h5>
                <p class="small text-muted">Learn with projects & certificate </p>
            </div>
        </a>
    </div> 


<div class="text-center">
    <h1 class="display-5">▶️ YouTube Channels</h1>
    <p class="lead"></p>
</div>    


    <div class="col-md-6 col-lg-3">
        <a href="https://www.youtube.com/@CodeWithHarry" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>▶️ CodeWithHarry (YouTube)</h5>
                <p class="small text-muted">Best Learning and project channel</p>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="https://www.hackerrank.com/apply" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>▶️ Apna College (YouTube)</h5>
                <p class="small text-muted">Best Learning and project channel</p>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="www.youtube.com/@chaiaurcode" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 p-3 text-center">
                <h5>▶️ Chai aur Code</h5>
                <p class="small text-muted">Good for fresher</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}
